<a href="https://colab.research.google.com/github/Fabiorsi1979/FTC_Analisando_dados/blob/main/Manipulacao_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios Manipulação Dados

In [1]:
import pandas as pd
import re
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/MyDrive/train.csv'

df_raw = pd.read_csv(path)
df_raw.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

# Limpeza de dados

In [4]:
df = df_raw.copy()

for i in range ( len (df) ):
    df.loc[i,'ID'] = df.loc[i, 'ID'].strip()
    df.loc[i, 'Delivery_person_ID'] = df.loc[i,'Delivery_person_ID'].strip()

In [5]:
linhasvazias = df['Delivery_person_Age'] != 'NaN '
df = df.loc[linhasvazias,:]
df['Delivery_person_Age'] = df['Delivery_person_Age'].astype( int )
df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].astype( float )
df['Order_Date'] = pd.to_datetime(df['Order_Date'],format = '%d-%m-%Y')
linhasvazias = df['multiple_deliveries'] != 'NaN '
df = df.loc[linhasvazias, :]
df['multiple_deliveries'] = df['multiple_deliveries'].astype( int )
df = df.reset_index (drop = True)
for i in range (len (df) ):
    df.loc[i, 'Time_taken(min)'] = re.findall (r'\d+', df.loc[i, 'Time_taken(min)'])

<ipython-input-5-ee6ebd010cf4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Delivery_person_Age'] = df['Delivery_person_Age'].astype( int )
<ipython-input-5-ee6ebd010cf4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].astype( float )
<ipython-input-5-ee6ebd010cf4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Date'] = pd.to_datetime(df['Order_Date'],format = '%d-%m-%Y')

In [6]:
df1 = df.copy()

##### 1. Qual o número total de entregadores cadastrados na base de dados?

In [7]:
df1['Delivery_person_ID'].count()

42805

##### 2. Qual o número total de entregadores únicos cadastrados na base de dados?

In [8]:
df1['Delivery_person_ID'].nunique()

1320

#####  3. Qual a idade do entregador mais velho? E do mais novo?

In [9]:
df1['Delivery_person_Age'].max()

50

In [10]:
df1['Delivery_person_Age'].min()

15

#####  4. Qual o ID do entregador com a maior idade? E o ID do entregaor com a menor idade?

In [11]:
Maior = df1.loc[(df1['Delivery_person_Age']==df1['Delivery_person_Age'].max())]['Delivery_person_ID']
Menor = df1.loc[(df1['Delivery_person_Age']==df1['Delivery_person_Age'].min())]['Delivery_person_ID']

contagemMaior = Maior.count()
contagemMenor = Menor.count()

print(f'Temos {contagemMaior} registros com a mesma maior idade e {contagemMenor} registros com a menor idade')
print(f'O registro ID de 1 destes de maior idade é: {Maior.iloc[0]}')
print(f'O registro ID de 1 destes de menor idade é: {Menor.iloc[0]}')

Temos 53 registros com a mesma maior idade e 38 registros com a menor idade
O registro ID de 1 destes de maior idade é: BANGRES05DEL01
O registro ID de 1 destes de menor idade é: JAPRES15DEL03

#### 5. Quais os nomes das condições climáticas?

In [12]:
df1["Weatherconditions"].unique()

array(['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog', 'conditions Windy',
       'conditions NaN'], dtype=object)

##### 6. Quantas entregas foram realizadas sob condições climáticas de tempestadede areia? ( Sandstorms )

In [13]:
len(df1.loc[df1["Weatherconditions"]=="conditions Sandstorms"])

7083

#### 7. Quais eram as condicões climáticas da data mais recente de entrega?

In [14]:
dataRecente = df1.sort_values(['Order_Date','Time_Order_picked'], ascending = False)
dataRecente.head(1)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
396,0x1655,MUMRES16DEL01,29,4.8,19.120083,72.907385,19.190083,72.977385,2022-04-06,23:45:00,23:55:00,conditions Cloudy,Low,1,Drinks,motorcycle,1,No,Metropolitian,[23]

####  8. Quantos tipos de densidade de trânsito existem na base de dados? Quais os nomes delas?

In [15]:
tiposDensidade = df1.loc[df1['Road_traffic_density'] != "NaN "]
print(tiposDensidade["Road_traffic_density"].nunique())
tiposDensidade["Road_traffic_density"].unique()

4

array(['High ', 'Jam ', 'Low ', 'Medium '], dtype=object)

##### 9. Quantas entregas foram feitas em cada condição climática?

In [16]:
condClimatica = df1.loc[df1['Weatherconditions']!= "conditions NaN"]
condClimaticaunica = condClimatica["Weatherconditions"].unique()
for cond in condClimaticaunica:
    print(f' {cond}, entregas realizadas = ',len(df1[df1['Weatherconditions'] == cond]) )

 conditions Sunny, entregas realizadas =  6904
 conditions Stormy, entregas realizadas =  7226
 conditions Sandstorms, entregas realizadas =  7083
 conditions Cloudy, entregas realizadas =  7135
 conditions Fog, entregas realizadas =  7288
 conditions Windy, entregas realizadas =  7078

##### 10. Quantos entregadores únicos fizeram entregas em cada condição climática?

In [17]:
for cond in condClimaticaunica:
    entUnicos = df1[df1['Weatherconditions'] == cond]
    print(f'{cond}, entregadores únicos =  {entUnicos["Delivery_person_ID"].nunique()} ')

conditions Sunny, entregadores únicos =  1233
conditions Stormy, entregadores únicos =  1234
conditions Sandstorms, entregadores únicos =  1239
conditions Cloudy, entregadores únicos =  1246
conditions Fog, entregadores únicos =  1251
conditions Windy, entregadores únicos =  1230

##### 11. Quantas entregas foram feitas em cada tipo de densidade de trânsito?

In [18]:
tiposUnicosDensi = tiposDensidade["Road_traffic_density"].unique()
for tiposDensi in tiposUnicosDensi:
    print(f' {tiposDensi}, entregas realizadas = ',len(df1[df1['Road_traffic_density'] == tiposDensi]) )

 High , entregas realizadas =  4212
 Jam , entregas realizadas =  13480
 Low , entregas realizadas =  14605
 Medium , entregas realizadas =  10417

####  12. Quantos entregadores únicos fizeram entregas em cada tipo de densidade de trânsito?

In [19]:
for tiposDensi in tiposUnicosDensi:
    densiUnicos = df1[df1['Road_traffic_density'] == tiposDensi]
    print(f'{tiposDensi}, entregadores únicos =  {densiUnicos["Delivery_person_ID"].count()} ')

High , entregadores únicos =  4212
Jam , entregadores únicos =  13480
Low , entregadores únicos =  14605
Medium , entregadores únicos =  10417

#### 13. Quantas cidades únicas existem na base? Quais são os seus nomes?

In [20]:
cidades = df1[df1['City']!= "NaN "]
print(cidades['City'].nunique())
cidades['City'].unique()

3

array(['Urban ', 'Metropolitian ', 'Semi-Urban '], dtype=object)

#### 14. Quantos tipos de veículos únicos existem na base?

In [21]:
veiculos = df1.loc[df1['Type_of_vehicle']!= "NaN "]
veiculos['Type_of_vehicle'].nunique()

4

##### 15. Qual o tipo de veículo que mais fez entregas com a condição de trânsito pesado? ( High )

In [22]:
densidadeHigh = df1.loc[df1['Road_traffic_density'] != "High"]
veiculoUnico = densidadeHigh['Type_of_vehicle'].unique()
for tipoVeic in veiculoUnico:
    print ()

##### 16. Qual o tipo de pedido mais feito durante condições climáticas de tempestade de areia?

In [23]:
pedidoMaisfeito = df1[df1['Weatherconditions']=='conditions Sandstorms']
pedidosUnicos = pedidoMaisfeito['Type_of_order'].unique()
print('Análise de pedido mais feito durante condição climática Tempestade de areia')
for pedUni in pedidosUnicos:
    print(f' - {pedUni} : ',pedidoMaisfeito[pedidoMaisfeito['Type_of_order'] == pedUni]['Type_of_order'].count())

Análise de pedido mais feito durante condição climática Tempestade de areia
 - Drinks  :  1734
 - Buffet  :  1732
 - Snack  :  1805
 - Meal  :  1812

##### 17. Qual a cidade com o maior número de pedidos de Bebidas (Drinks) feito em Scooter?

In [24]:
cidadesUnicas = cidades['City'].unique()
for cid in cidadesUnicas:
   print(f' Pedidos Drink entregues de Scooter {cid} = ', cidades[(cidades['City']==cid) & (cidades['Type_of_order']=="Drinks ") & (cidades['Type_of_vehicle']=="scooter ")]['City'].count())

 Pedidos Drink entregues de Scooter Urban  =  847
 Pedidos Drink entregues de Scooter Metropolitian  =  2655
 Pedidos Drink entregues de Scooter Semi-Urban  =  1

#### 18. Qual o nome da cidade com o (os) entregador mais velho? E o nome da cidade com o (os) entregadores mais novos?

In [71]:
maisVelhos = cidades.loc[cidades['Delivery_person_Age'] == cidades['Delivery_person_Age'].max()]
maisNovos = cidades.loc[cidades['Delivery_person_Age'] == cidades['Delivery_person_Age'].min()]

print('Mais Velhos')
for cid in cidadesUnicas:
    print(f' {cid}', maisVelhos[maisVelhos['City']==cid]['City'].count())

print(50 * "-")

print("Mais Novos")
for cid in cidadesUnicas:
    print(f' {cid}',maisNovos[maisNovos['City']==cid]['City'].count())

Mais Velhos
 Urban  14
 Metropolitian  37
 Semi-Urban  0
--------------------------------------------------
Mais Novos
 Urban  11
 Metropolitian  27
 Semi-Urban  0

####  19. Quantas entregas foram feitas durante o Festival?

In [80]:
print(df1.loc[df1['Festival']=='Yes ']['Festival'].count())

848

####  20. Quantas cidades únicas tiveram entregas feitas durante o Festival?

In [84]:
festival = df1.loc[(df1['Festival']=='Yes ') & (df1['City']!= "NaN ")]
print( len(festival['City'].unique()) )

3

####  21. Quantas entregas foram feitas durante o Festival na cidade chamada Urban ("Urban")

In [85]:
len( festival['City']=="Uban ")

835